body {
    background-color: azure;
}

.my-background {
    background-color: white;
    width: 50%;
    margin: auto;
}

.my-btn {
    padding: 0 0.3rem;
    vertical-align: baseline;
    position: absolute;
    right: 1rem;
}